
<div class="container foot">
  <footer class="mt-4 pt-5 pb-2">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://www.linkedin.com/in/manas-gandhi-7198a1283" class="nav-link px-2 text-body-secondary">Linkedin</a></li>
    </ul>
    <p class="text-center text-body-secondary">© Manas Gandhi</p>
  </footer>
</div>